In [12]:
x = 1
type(x)

int

In [13]:
print(x)

1

In [11]:
x="hola mundo"
print(x)

hola mundo

In [6]:
x = [1,2,3]
y = x
print(y,x)

[1, 2, 3] [1, 2, 3]

In [7]:
x.append(4)
print(y)

[1, 2, 3, 4]

In [22]:
x=5
print(x,y)

5 [1, 2, 3, 4]

In [25]:
# Estamso explorando datos simples

dato_num = 8
dato_float = 10.22
dato_booleano_1 = True
dato_booleano_2 = False
dato_string = "SOY JESUS"

In [27]:
print(dato_num)
print(type(dato_num))

8
<class 'int'>

In [30]:
print(dato_float)
print(type(dato_float))

10.22
<class 'float'>

In [33]:
print("LOS DATOS SON")
print(dato_booleano_1,dato_booleano_2)
print("")
print("LOS TIPOS DE DATOS SON")
print(type(dato_booleano_1),type(dato_booleano_2))

LOS DATOS SON
True False

LOS TIPOS DE DATOS SON
<class 'bool'> <class 'bool'>

In [35]:
print("LOS DATOS SON")
print(dato_string)
print("")
print("LOS TIPOS DE DATOS SON")
print(type(dato_string))

LOS DATOS SON
SOY JESUS

LOS TIPOS DE DATOS SON
<class 'str'>

In [37]:
#VAMOS A EXPLORAR DATOS ESTRUCTURADOS
persona = {"nombre" : "Jesus","edad":18,"profesion":"Analista"}

In [43]:
print(persona["nombre"])
type(persona)

Jesus

dict

In [45]:
#LISTAS
mi_lista=[1,2,3,"cuatro",5.05,"hola"]
print(mi_lista)

[1, 2, 3, 'cuatro', 5.05, 'hola']

In [49]:
print(mi_lista[3])

cuatro

In [51]:
print(mi_lista[-1])

hola

In [55]:
#CANTIDAD DE ELEMENTOS QUE TIENE MI LISTA
len(mi_lista)

6

In [58]:
#MODIFICAR UN ELEMENTO DE MI LISTA
mi_lista[3]='cambiado'
print(mi_lista)

[1, 2, 3, 'cambiado', 5.05, 'hola']

# Estructuras de control
En este apartado vamos a aprender estructuras de control.
* **FOR**
* **WHILE**
* **IF**

In [60]:
# FOR
rango= range(1,10)
type(rango)

range

In [62]:
# EXPLOREMOS QUE ELEMENTOS TIENEN
print('primer elemento',rango[0])
print('ultimo elemento',rango[-1])

primer elemento 1
ultimo elemento 9

In [72]:
#PROGRAMEMOS EL BUCLE
for i in rango:
    a = i + 1
    b = a * i
    print(a,b)

2 2
3 6
4 12
5 20
6 30
7 42
8 56
9 72
10 90

In [74]:
#PROGRAMEMOS EL BUCLE SIN SENTIDO
for i in rango:
    a = 2 + 2
    print(a)

4
4
4
4
4
4
4
4
4

In [76]:
# RECORRER UNA LISTA
for i in mi_lista:
    print(i)

1
2
3
cambiado
5.05
hola

In [82]:
# WHILE
s = 1
while s <= 10:
    print(s)
    s=s+1

1
2
3
4
5
6
7
8
9
10

In [85]:
# IF
prueba = 10
if prueba <= 5:
    print('Es menor a 5')
elif prueba <9:
    print('Es menor a 9')
else:
    print('Es mayor o igual a 9')

Es mayor o igual a 9

In [90]:
# FOR + IF
for i in rango:
    if i <= 4:
        print('primer grupo',i)
    elif i <= 6:
        print('otra cosa',1*2)
    else:
        print('final',i**2)

primer grupo 1
primer grupo 2
primer grupo 3
primer grupo 4
otra cosa 2
otra cosa 2
final 49
final 64
final 81

In [93]:
dias=['lunes','martes','miercoles','jueves','viernes','sabado','domingo']
print(dias)

['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo']

In [95]:
valores = [200,225,232,221,243,256,255]
print(dias,valores)

['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo'] [200, 225, 232, 221, 243, 256, 255]

In [101]:
# Definir las listas
dias = ["lunes", "martes", "miércoles", "jueves", "viernes", "sábado", "domingo"]
precios = [200, 225, 232, 221, 243, 256, 255]

# Encontrar los días donde el precio bajó
dias_bajada = [dias[i] for i in range(1, len(precios)) if precios[i] < precios[i-1]]

print("Días en los que el precio bajó:",dias_bajada)

Días en los que el precio bajó: ['jueves', 'domingo']

# FUNCIONES
Vamos a armar nuestras primeras funciones

In [103]:
def mi_funcion(argumento_1,argumento_2):
    resultado_1=argumento_1*2
    resultado_2= argumento_2 / 3
    resutado_final= resultado_1-resultado_2
    return resutado_final

In [105]:
mi_funcion(argumento_1=10,argumento_2=4)

18.666666666666668

In [126]:
def funcion_clasificadora(x):
    if x <= 4:
        resultado = 'primer grupo' + str(x)
    elif   x <= 6:
        resultado = 'otra cosa' +  str(x*2)
    else:
        resultado = 'final' +  str(x**2)
    return resultado

In [127]:
funcion_clasificadora(5)

'otra cosa10'

In [128]:
for i in rango:
    print(funcion_clasificadora(i))

primer grupo1
primer grupo2
primer grupo3
primer grupo4
otra cosa10
otra cosa12
final49
final64
final81